<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login-Page-Service-Center</title>
<style>
/* Style all input fields */
input {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 5px;
}

/* The message box is shown when the user clicks on the password field */

</style>
</head>
<body style="background-color: coral;">

<h1 style="text-align: center;">Online Service Center Booking Portal</h1><br><br>

<div class="container">
    <h1 style="text-align:center">Hero Thakkar Service Center</h1>
    <h3>Address : 30 Bedekar Colony Anand Nagar Khandwa</h3>
    <h3>Landmark : Opp os St. Pius</h3>
    <h3>City : Khandwa</h3>
    <h3>Bikes Type : Hero,Honda</h3>
    <h3>Propriter Name : Abhinav Gangrade</h3>
    <h3>Phone Number : 6265056990</h3>
    <h3>Payment Type : Phonepe,UPI,Cash</h3>
    <a href="/details"><input type="submit" value="Submit"></a>
<!--     
  <form action="/action_page.php">
    <div style="text-align: center;">
        <h1>Search Service Center</h1>
        <p>Please Enter the Pincode</p>
        </div>
        <hr>
        <label for="pincode-search"><b>Pincode</b></label>
        <input type="text" placeholder="Enter Pincode" name="pincode-search" id="pincode-search" required>
        <input type="submit" value="Submit">
    </form> -->
</div>
</body>
</html>